@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 70px;
  width: 60%;
  background: #ca943d;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px #967120;
}

.cheese {
  height: 15px;
  width: 65%;
  background: #ffc400;
  border-bottom: solid 2px #e5b05a;
}

.tomato {
  height: 25px;
  width: 50%;
  background-color: #e5522f;
  border-bottom: solid 2px #ff0000;
}

.meatball {
  height: 60px;
  width: 70px;
  background: #532f15;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
}

.patty {
  height: 35px;
  width: 65%;
  background: #944223;
  border-radius: 15px;
  border-bottom: solid 2px #502e0c;
}

.pickle {
  display: inline-block;
  height: 10px;
  width: 20%;
  background: #24971b;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #176a3f;
}

.onion {
  width: 40%;
  background-color: #811d9f;
  border-top: dotted 20px #c063d9;
}

.bun-bottom {
  height: 35px;
  width: 60%;
  background: #ca943d;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px #967120;
}

.plate {
  height: 25px;
  width: 80%;
  background: #c3c3c3;
  border-radius: 20px 20px 200px 200px;
}
